<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 注意事项：使用映射接口的配置方式，namespace必须指向接口的类全名 -->
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsBaseAttrInfoMapper">
  <!-- useGeneratedKeys:作用打开支持ID回填，设置为true
    keyColumn：设置ID回填，ID对象数据库的字段名
    keyProperty：设置ID回填到JavaBean对应的属性名
 -->

    <select id="selectAttrValueListByValueId" resultMap="selectAttrValueListByValueIdMap">
        SELECT
          ba.*,ba.id as ba_id,bv.*,bv.id as bv_id
        FROM
            pms_base_attr_info ba,
            pms_base_attr_value bv
        WHERE
            ba.id = bv.attr_id
        and
          bv.id in (${valueIdStr})
    </select>

    <resultMap id="selectAttrValueListByValueIdMap" type="com.atguigu.gmall.bean.PmsBaseAttrInfo" autoMapping="true">
        <result column="ba_id" property="id"></result>
        <collection property="attrValueList" ofType="com.atguigu.gmall.bean.PmsBaseAttrValue" autoMapping="true">
            <result column="bv_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>