<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 注意事项：使用映射接口的配置方式，namespace必须指向接口的类全名 -->
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsSkuInfoMapper">
  <!-- useGeneratedKeys:作用打开支持ID回填，设置为true
    keyColumn：设置ID回填，ID对象数据库的字段名
    keyProperty：设置ID回填到JavaBean对应的属性名
 -->

    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
        SELECT
            si.*,ssav.*,si.id as si_id ,ssav.id as ssav_id
        FROM
            pms_sku_info si,
            pms_sku_sale_attr_value ssav
        WHERE
            si.product_id = #{productId}
        AND si.id = ssav.sku_id
    </select>

    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.atguigu.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id"></result>
        <collection property="skuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>